.section-wrap {
    padding: 2rem 2rem;
}

.section-title-wrap {
    display: flex;
    align-items: center;
}

#stream-list .section-title-wrap {
    padding-bottom: 1.5rem;
}

#stream-list .section-title-wrap .section-title {
    padding-right: 1rem;
}

#stream-list .stream-add {
    color: var(--primary-dark);
    transition: 0.5s all ease-in-out;
}

#stream-list .stream-add:hover {
    color: var(--primary-light);
    transition: 0.5s all ease-in-out;
}

#stream-list .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: thin;
    padding: 0.5rem 2rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    transition: 0.5s all ease-in-out;
}

#stream-list .card .view-details {
    transition: 0.5s all ease-in-out;
}
#stream-list .card .view-details:hover {
    color: var(--primary-dark);
    transition: 0.3s all ease-in-out;
}

#stream-list .card .card-info{
    padding-right: 2rem;
    flex-grow: 1;
}