@import "../scss/config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Ubuntu Condensed", sans-serif;
}

.container {
  max-width: $website-width;
  margin: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

.txt-primary-light {
  color: $primary-light;
}
.txt-primary-dark {
  color: $primary-dark;
}

.bg-primary-light {
  background-color: $primary-light;
}
.bg-primary-dark {
  background-color: $primary-dark;
}

#navbar {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;

  //
  .navbar-content {
    display: flex;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    // Logo
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      //
      img {
        margin: 0.5rem 0;
        height: 1.5rem;
        width: 2.5rem;
        margin-right: 0.2rem;
      }

      //
      h3 {
        display: inline-block;
      }
    }

    //Menu
    ul {
      display: flex;
      list-style: none;

      // Items
      li a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 0.5rem 1rem;

        &:hover {
          background-color: $primary-light;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

#showcase {
  background: url($img-showcase) no-repeat center center/cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  // showcase content
  .showcase-content {
    // overlay
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);

    .container {
      display: flex;
      flex-direction: column;
      padding-top: 7rem;
      align-items: center;
      color: #fff;

      //
      h1 {
        padding-left: 1.5rem;
      }

      p {
        padding-top: 0.5rem;
        justify-self: center;
        text-align: center;
      }

      a {
        margin-top: 0.5rem;
        padding: 0.5rem 2rem;
        border-radius: 0.25rem;

        &:hover {
          background-color: $primary-light;
        }
      }
    }
  }
}
