#navbar {
    padding: 0.25rem 0;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .container .logon {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    backdrop-filter: opacity(0.2);
}

#navbar .container .logon:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    backdrop-filter: opacity(0.4);
}

#navbar .container .logon i,
#navbar .container .logon h5 {
    transition: all 0.5s ease-in-out;
}

#navbar .container .logon:hover i {
    color: var(--secondary-light);
    transition: all 0.5s ease-in-out;
}

#navbar .container .logon:hover h5 {
    color: var(--primary-light);
    transition: all 0.5s ease-in-out;
}

#navbar .container .logon i {
    margin-right: 0.5rem;
}

#navbar .container .logo {
    display: flex;
    align-items: center;
}

#navbar .container .logo i {
    padding-right: 0.5rem;
}

#navbar .container .menu {
    display: flex;
    list-style: none;
}

#navbar .container .menu .item {
    display: inline-block;
    padding: 0.5rem 0.75rem;
}

#navbar .container .menu .item:hover {
    border-radius: 0.25rem;
    background-color: var(--primary-light);
}