#navbar {
    padding: 0.25rem 0;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .container .logo {
    display: flex;
    align-items: center;
}

#navbar .container .logo i {
    padding-right: 0.5rem;
}

#navbar .container .logon-wrap {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#navbar .container .logon-wrap .logon-icon {
    transition: all 0.5s ease-in-out;
    color: var(--secondary-dark);
    margin-right: 0.5rem;
}

#navbar .container .logon-wrap:hover .logon-icon {
    transition: all 0.5s ease-in-out;
    color: var(--secondary-light);
}

#navbar .container .logon-wrap .logon-text {
    transition: all 0.5s ease-in-out;
    margin-right: 0.5rem;
}

#navbar .container .logon-wrap:hover .logon-text {
    transition: all 0.5s ease-in-out;
    color: var(--secondary-dark);
}

#navbar .container .logon-wrap .logon-btn {
    border-radius: 0.25rem;
    backdrop-filter: opacity(0.2);
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#navbar .container .logon-wrap .logon-btn:hover {
    backdrop-filter: opacity(0.4);
}

#navbar .container .menu {
    display: flex;
    list-style: none;
}

#navbar .container .menu .item {
    display: inline-block;
    padding: 0.5rem 0.75rem;
}

#navbar .container .menu .item:hover {
    border-radius: 0.25rem;
    background-color: var(--primary-light)
}